<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.EventPlanner"
        tools:targetApi="31">
        <activity
            android:name=".VenueManager.VenueManagerVenDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".VenueManager.AllVenuesActivity"
            android:exported="false" />
        <activity
            android:name=".VenueManager.EditVenueActivity"
            android:exported="false" />
        <activity
            android:name=".VenueManager.VenuesRequestActivity"
            android:exported="false" />
        <activity
            android:name=".VenueManager.AddVenueActivity"
            android:exported="false" />
        <activity
            android:name=".VenueManager.DashboardVenueManagerActivity"
            android:exported="false" />
        <activity
            android:name=".VenueManager.VenueSignupActivity"
            android:exported="false" />
        <activity
            android:name=".VenueManager.VenueLoginActivity"
            android:exported="false" />
        <activity
            android:name=".VenueDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".AllVenuesActivity"
            android:exported="false" />
        <activity
            android:name=".AllEventsActivity"
            android:exported="false" />
        <activity
            android:name=".EventDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".ForgetPasswordActivity"
            android:exported="false" />
        <activity
            android:name=".SignupActivity"
            android:exported="false" />
        <activity
            android:name=".WelcomeActivity3"
            android:exported="false" />
        <activity
            android:name=".WelcomeActivity2"
            android:exported="false" />
        <activity
            android:name=".LoginActivity"
            android:exported="false" />
        <activity
            android:name=".SplashScreenActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".WelcomeActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>